@import "../../../styles/abstracts/variables";
@import "../../../styles/base/typography";
@import "../../../styles/abstracts/mixins";


.card{
  height: toRem(500px);
  box-shadow: 0px 1px 10px $col-shadow-2;
  @include border-radius(10px);

  &__img{
        width: 100%;
        padding: 0;
  }
  &__content{
        width: toRem(334px);
        margin: toRem(40px) auto;

        &-title{
              @include h6;
              text-transform: uppercase;
              margin-bottom: toRem(10px);
        }

        &-desc{
              color: $col-text;
              margin-bottom: toRem(28px);
        }
        &-link{
              text-transform: uppercase;
              text-decoration: underline;
        }

@media (max-width: 600px) {
      padding: 0 0.7rem;
      margin: toRem(20px) auto;

       
      
}
  }

  
}