// OUR Z-INDEX SHOULD BE USED THIS WAY. SO WE DON'T HAVE DIFFERENT Z-INDEX FLYING AROUND
// use @include z-index(fill-page); for example
@use "sass:math";

$z-index: (
  fill-page: 60,
  modal: 50,
  dropdown-menu: 40,
  navigation: 30,
  underlay: 20,
  overlay: 10,
  normal: 5,
  behind: -1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
// // Z INDEX

// @mixin deskTopFirst($media) {
//   @media screen and (max-width: math.div($media, 16)+rem) {
//     @content;
//   }
// }

// MOBILE FIRST MEDIA QUERY
@mixin respond($breakpoint) {
  @if $breakpoint==mini-phone {
    @media only screen and (max-width: 21.875em) {
      @content;
    }

    // < 350px
  }

  @if $breakpoint==smallest-phone {
    @media only screen and (max-width: 23.4375em) {
      @content;
    }

    // < 375px
  }

  @if $breakpoint==smaller-phone {
    @media only screen and (max-width: 26.5625em) {
      @content;
    }

    // < 425px
  }

  @if $breakpoint==small-phone {
    @media only screen and (max-width: 31.25em) {
      @content;
    }

    // < 500px
  }

  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }

    // < 600px
  }

  @if $breakpoint==tab {
    @media only screen and (max-width: 48em) {
      @content;
    }

    // < 768px
  }

  @if $breakpoint==big-tab {
    @media only screen and (max-width: 56.25em) {
      @content;
    }

    // < 900px
  }

  @if $breakpoint==mini-laptop {
    @media only screen and (max-width: 78.75em) {
      @content;
    }

    // < 1060px
  }

  @if $breakpoint==max-laptop {
    @media only screen and (max-width: 95em) {
      @content;
    }

    // < 1430px
  }
}

@mixin heading($margin-b, $width: 601px) {
  text-align: center;
  max-width: toRem($width);
  width: 100%;
  margin-bottom: toRem($margin-b);
}
@mixin title($margin) {
  @include h4;
  text-transform: uppercase;
  margin-bottom: toRem($margin);
}

@mixin position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin border-radius($pixel...) {
  border-radius: $pixel;
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
  -ms-border-radius: $pixel;
  -o-border-radius: $pixel;
}

@mixin filter($value) {
  filter: $value();
  -webkit-filter: $value();
}

//   SCALE ELEMENT FOR HOVER EFFECT
@mixin scale($scale) {
  transform: scale($scale);
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
}

@mixin transition {
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
}

@mixin transition-color {
  transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
}

// FLEX FLOW
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// FLEX SPACE BETWEEN
@mixin flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// FLEX ROW-ALONE
@mixin row {
  display: flex;
  flex-direction: row;
}

//FLEX COLUMN
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// FLEX COLUMN-ALONE
@mixin column {
  display: flex;
  flex-direction: column;
}

// GRID COLUMN-ALONE
@mixin grid-column($repeat, $size) {
  display: grid;
  grid-template-columns: repeat($repeat, $size);
}

// GRID ROW-ALONE
@mixin grid-row($repeat, $size) {
  display: grid;
  grid-template-rows: repeat($repeat, $size);
}

//GRID (ROW AND COLUMN)
@mixin grid($repeat, $size) {
  display: grid;
  grid-template-columns: repeat($repeat, $size);
  grid-template-rows: repeat($repeat, $size);
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin placeholder($color) {
  /* WebKit, Edge */
  &::-webkit-input-placeholder {
    color: $color;
  }

  /* Firefox 4-18 */
  &:-moz-placeholder {
    color: $color;
  }

  /* Firefox 19+ */
  &::-moz-placeholder {
    color: $color;
  }

  /* IE 10-11 */
  &:-ms-input-placeholder {
    color: $color;
  }

  /* Edge */
  &::-ms-input-placeholder {
    color: $color;
  }

  /* MODERN BROWSER */
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}

@mixin skeleton {
  background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    linear-gradient(lightgray 100%, transparent 0);

  background-repeat: no-repeat;
  background-size: 100px 100%, 100% 100%;
  background-position: 0 0, 0 0;

  animation: shine 1s infinite;

  @keyframes shine {
    to {
      background-position: 300% 0, 0 0;
    }
  }
}

@mixin center-column {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  @include respond(big-tab) {
    grid-template-columns: 1fr;
  }
}

@mixin place-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin place-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
