@import "../../styles/abstracts/variables";
@import "../../styles/base/typography";
@import "../../styles/abstracts/mixins";

.section {
  background: url("../../public/assets/images/background.svg") no-repeat center
    center / cover;
  padding: toRem(120px) 0;
}

@media (max-width: 600px) {
  .section{
     padding: toRem(60px) 0;
  }
  
}

.feature {
  &__heading {
    @include heading(120px);
    margin: 0 auto;
    margin-bottom: toRem(63px);
    color: $col-white;

    &-title {
      @include title(18px);
    }
  }

  &__content {
    &-card {
      width: toRem(248px);
      color: $col-white;
      text-align: center;

      &:first-child,
      &:last-child {
        margin: 0 auto;

      }

      &-title {
        @include h6;
        text-transform: uppercase;
        margin: toRem(18px) 0;
      }
    }

    &-grid {
      @include grid-column(3, 1fr);
      margin: toRem(52px) 0;

      &-content {
        @include column;
        justify-content: space-between;
        align-items: center;
        margin: toRem(100px) 0;
      }
    }
  }

  &__right {
    text-align: right;
  }
  &__left {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .feature {
    &__heading {
      &-title {
        @include title(18px);
        font-size: 25px;
      }
    }

    &__content {
      &-card {
        width: toRem(297px);
        color: $col-white;
        text-align: center;

        &:first-child,
        &:last-child {
          margin: 2rem auto;
        }

        &-title {
          @include h6;
          text-transform: uppercase;
          margin: toRem(18px) 0;
        }
      }

      &-grid {
        @include grid-column(1, 1fr);
        margin: toRem(52px) 0;

        &-content {
          @include column;
          justify-content: space-between;
          align-items: center;
          margin: toRem(10px) 0;
        }
      }
    }
  }
}
