@import "../../styles/abstracts/variables";
@import "../../styles/base/typography";
@import "../../styles/abstracts/mixins";

.footer {
  background-color: #232233;
  color: $col-white;
}

.container {
  @include row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: toRem(66px);

  &-grid {
    @include grid-column(2, 334px);
    column-gap: toRem(100px);
  }

  &__info {
    &-logo {
      @include h4;
      text-transform: uppercase;
    }
    &-desc {
      margin-bottom: toRem(40px);
    }

    &-social {
      @include grid-column(4, auto);
      align-items: center;
      justify-content: flex-start;

      & div {
        border-right: 1px solid $col-white;
        @include grid-center;
        padding: 0 toRem(32px);

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
        }
      }
    }

    &-link {
      &-title {
        @include h5;
        text-transform: uppercase;
      }
      & a {
        display: block;
        margin-top: toRem(11px);
        color: $col-white;
      }
    }
  }

  &__news {
    &-title {
      @include h5;
      text-transform: uppercase;
      margin-bottom: toRem(11px);
    }
    &-desc {
      margin-bottom: toRem(33px);
    }
    &-form {
      height: toRem(50px);
      max-width: toRem(398px);
      width: 100%;
      background-color: $col-white;
      @include row;
      justify-content: space-between;
      align-items: center;
      @include border-radius(4px);

      & input {
        border: none;
        padding: 0 toRem(16px);
      }

      &__button {
        background-color: $col-primary;
        width: toRem(52px);
        height: toRem(46px);
        @include border-radius(4px);
      }
    }
  }

  // MEDIA QUERIES
  @media (max-width: 600px) {
    @include column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: toRem(66px);

    &-grid {
      @include grid-column(1, 334px);
      row-gap: toRem(70px);
    }

    &__news {
      margin-top: toRem(60px);
    }
  }
}

.copy {
  padding: toRem(30px);
  text-align: center;
  border-top: 1px solid $col-white;
  @include row;
  justify-content: center;

  & p {
    margin-left: toRem(20px);
  }
}

.contact {
  background-color: $col-white;
  height: toRem(230px);
  @include border-radius(30px);
  color: $col-dark;
  @include grid-column(2, 1fr);
  column-gap: toRem(50px);
  justify-content: center;
  align-items: center;
  padding: toRem(50px);
  transform: translateY(-130px);
  box-shadow: 0px 1px 60px $col-shadow;

  &__container {
    @include row;
    align-items: center;

    &:first-child {
      border-right: 2px solid rgba(108, 108, 114, 1);
    }
  }

  &__image {
    width: toRem(80px);
    height: toRem(80px);
    @include border-radius(50%);
    background-color: $col-primary;
    @include grid-center;
    margin-right: toRem(18px);
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
  }

  // Media Queries

  @media (max-width: 600px) {
    @include grid-column(1, 1fr);
    @include border-radius(10px);
    height: toRem(310px);
     padding: toRem(25px);

    &__image {
      width: toRem(60px);
      height: toRem(60px);
      @include border-radius(50%);
      background-color: $col-primary;
      @include grid-center;
      margin-bottom: toRem(20px);

    }

    &__text {
      text-transform: uppercase;
    }

    &__container {
      @include column;
      align-items: center;
      padding-bottom: toRem(16px);

      &:first-child {
        border: none;
        border-bottom: 2px solid rgba(108, 108, 114, 1);
        margin-bottom: toRem(20px);
      }
    }
  }
}
