@import "../../styles/abstracts/variables";
@import "../../styles/base/typography";
@import "../../styles/abstracts/mixins";

.section {
  padding: toRem(120px) 0;
  margin-bottom: toRem(120px);
  color: $col-dark;
 

  &__heading{
        @include heading(0px);
         margin: 0 auto;
         color: $col-dark;
         
         &-title{
         @include title(23px);
         }
  }

  &__blog-cards{
        @include grid-column(3, 370px);
        column-gap: toRem(30px);
        justify-content: center;
        margin-top: toRem(60px);
  }
}